@model LoginViewModel

@{
    ViewData["Title"] = "Inicio";
}

<h1>Inicio de sesion </h1>

@if (ViewData.Keys.Contains("mensaje"))
{
    <p style="color: red;">
        @ViewData["mensaje"]
    </p>
}



<div class="card" style="box-shadow: 0 0 15px rgba(2, 2, 2, 1); border-radius: 10px; margin:50px auto; padding:20px">
    <div class="card-body">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" autocomplete="off" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" id="password" type="password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
                <span class="password-toggle" onclick="togglePasswordVisibility()">
                    <img id="toggle-icon" src="https://img.icons8.com/ios-glyphs/30/000000/visible.png" alt="Show/Hide Password" />
                </span>
                
               
            </div>

            <div class="form-check mb-3 mt-2">
                <input class="form-check-input" type="checkbox" asp-for="Recuerdame" />
                <label class="form-check-label" asp-for="Recuerdame"></label>
            </div>

            <button class="btn-primary btn mt-4">Login</button>
            <a class="btn btn-success mt-4" asp-action="Registro">Crear una nueva cuenta</a>

           <!--

            <a class="btn btn-warning mt-4" asp-action="LoginExterno" asp-route-proveedor="Microsoft">
                 Continuar con
                 Microsoft
             </a>

           --> 

        </form>
    </div>
</div>

<script>
    function togglePasswordVisibility() {
        var passwordField = document.getElementById("password");
        var toggleIcon = document.getElementById("toggle-icon");
        if (passwordField.type === "password") {
            passwordField.type = "text";
            toggleIcon.src = "https://img.icons8.com/ios-glyphs/30/000000/invisible.png";
        } else {
            passwordField.type = "password";
            toggleIcon.src = "https://img.icons8.com/ios-glyphs/30/000000/visible.png";
        }
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
