@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer localizer;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@localizer["Bienvenido"]</h1>
      <p>@localizer["Aprende acerca de <a href=\"https://docs.microsoft.com/aspnet/core\">construir aplicaciones wed con ASP.Net Core</a>"]</p>
</div>
<!--Saludo en otro idioma, 
    comfiguramos el serbicio, agregamos en el controlador el IStringLocalizer, agregamos
    en la vista index el ViewBag y mostramos en la vista
-->
<div class="text-center">
    <h3>@ViewBag.Saludo, Pablo</h3>
   
</div>